#page-home .account-balance-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--color-text);
    font-size: 1.13rem;
}

#page-home .account-balance-text {
    width: auto;
    margin: auto;
}

#page-home .account-balance-value-container {
    width: auto;
    margin: auto;
}

#page-home .income-expense-container {
    display: flex;
}

#page-home .income-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#page-home .expense-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#page-home .accounts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 9px;
}

#page-home .account-item {
    width: calc(50% - 50px);
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
}