.account-balance-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--color-text);
    font-size: 1.13rem;
}

.account-balance-text {
    width: auto;
    margin: auto;
}

.account-balance-value-container {
    width: auto;
    margin: auto;
}

.income-expense-container {
    display: flex;
}

.income-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.expense-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.accounts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.account-item {
    width: calc(49% - 50px);
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
}