#page-home p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: var(--color-text);
    font-size: 1.13rem;
    background: var(--color-bg-page);
    padding: 1.1rem 0.7rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 var(--color-shadow);
    transition: background 0.3s, color 0.3s;
}