/* Bottom Navigation Styles */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-bg);
    border-top: 1.5px solid var(--color-primary-light);
    box-shadow: 0 -2px 12px 0 var(--color-shadow);
    z-index: 100;
    transition: background 0.3s, box-shadow 0.3s;
}

/* Navigation Button Styles */
.nav-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.93rem;
    background: none;
    border: none;
    color: var(--color-text);
    font-weight: 600;
    padding: 0.3rem 0;
    border-radius: 8px;
    transition: color 0.2s, background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.nav-btn.add-btn {
    position: absolute;
    top: -40px;
    width: 90px;
    max-width: 25%;
}

.nav-btn.add-btn img {
    width: 100%;
}

.add-btn-placeholder {
    visibility: hidden;
}

.nav-btn.active {
    color: var(--color-primary);
    background: var(--color-scrollbar);
    box-shadow: 0 2px 8px 0 var(--color-shadow);
}

.nav-btn:active {
    background: var(--color-primary-light);
}