.actions-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1.2rem;
    background: var(--color-bg-page);
    padding: 1rem 0.7rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 var(--color-shadow);
    transition: background 0.3s, box-shadow 0.3s;
}

.action-container {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: inherit;
    width: 100%;
}

.actions span {
    line-height: 2rem;
    font-size: 0.98rem;
    color: var(--color-primary);
}