#page-settings .actions-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    background: var(--color-bg);
    border-radius: 10px;
    transition: background 0.3s, box-shadow 0.3s;
}

#page-settings .actions-container .action-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0.5rem;
    color: var(--color-bg-invert);
}

#page-settings .actions-container .action-container {
    width: 100%;
    margin-bottom: 10px;
}

#page-settings .actions {
    width: 100%;
}

#page-settings .action-container-inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#page-settings .action-container-inner-column {
    display: block;
}

#page-settings .action-container-inner span {
    line-height: 2rem;
    font-size: 0.98rem;
    color: var(--color-primary);
}

#page-settings .button.primary {
    max-width: 120px;
    width: auto;
    padding: 0.2rem 0.5rem;
}

#page-settings input {
    width: 100%;
    max-width: 350px;
}

#page-settings .slide-toggle {
    position: relative;
    display: inline-block;
    font-weight: 600;
    border-radius: 12px;
}
#page-settings .slide-toggle input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
}
#page-settings .slide-toggle input[type="checkbox"]:checked ~ label {
    background-color: var(--color-bg-invert);
}
#page-settings .slide-toggle input[type="checkbox"]:checked ~ label:after {
    transform: translateX(100%);
}
#page-settings .slide-toggle input[type="checkbox"]:disabled ~ label {
    opacity: 0.5;
    pointer-events: none;
}
#page-settings .slide-toggle label {
    display: flex;
    height: 2rem;
    width: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    background-color: var(--color-bg-invert);
    border-radius: 12px;
    transition: background-color 0.25s ease;
    position: relative;
}
#page-settings .slide-toggle label:after {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 50%;
    border-radius: 9px;
    background-color: var(--color-bg);
    transition: transform 0.25s cubic-bezier(0.6, 0.82, 0, 0.76);
}
#page-settings .slide-toggle label div {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}