.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-top: 1.2rem;
    background: #f7faff;
    padding: 1rem 0.7rem;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(44, 123, 229, 0.05);
}

.actions span {
    line-height: 2rem;
    font-size: 0.98rem;
    color: #2c7be5;
}