<section id="page-home" class="page active">
    <div class="header">
        <h1 class="header-title">Salli Tracker</h1>
    </div>
    <div class="account-balance-container">
        <div class="account-balance-text">Account Balance</div>
        <div class="account-balance-value-container">
            <div class="account-balance-value-currency">LKR</div>
            <div class="account-balance-value-amount">0.00</div>
        </div>
    </div>
    <div class="income-expense-container">
        <div class="income-container">
            <img src="assets/icons/nav/pie-chart.svg" alt="">
            <div class="income-value-container">
                <div class="income-label">Income</div>
                <div class="income-value">0.00</div>
            </div>
        </div>
        <div class="expense-container">
            <img src="assets/icons/nav/pie-chart.svg" alt="">
            <div class="expense-value-container">
                <div class="expense-label">Expense</div>
                <div class="expense-value">0.00</div>
            </div>
        </div>
    </div>
    <div class="accounts-container">
        <h2 class="accounts-title">Accounts</h2>
        <div class="accounts-list">
            <div class="account-item">
                <div class="account-name">Cash</div>
                <div class="account-balance">0.00</div>
            </div>
            <div class="account-item">
                <div class="account-name">Bank</div>
                <div class="account-balance">0.00</div>
            </div>
        </div>
    </div>
</section>
