<section id="page-settings" class="page">
    <h2>Settings</h2>
    <div id="settingsContent">
        <div class="actions-container">
            <div class="action-heading">Appearance</div>
            <div class="actions">
                <div class="action-container">
                    <div class="action-container-inner">
                        <div class="action-title">Theme</div>
                        <div class="action-container-inner">
                        </div>
                        <div class="slide-toggle">
                            <input id="theme-toggle" type="checkbox" />
                            <label for="theme-toggle">
                                <div><i class="fas fa-sun"></i></div>
                                <div><i class="fas fa-moon"></i></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-heading">Backup & Restore</div>
            <div class="actions">
                <div class="action-container">
                    <div class="action-container-inner">
                        <div class="action-title">Backup to Drive</div>
                        <button class="button primary" id="backupBtn">Backup<img src="assets/icons/settings/backup.svg"
                                alt=""></button>
                    </div>
                    <div class="action-container-inner">
                        Last Backup: <span id="lastBackupDate"></span>
                        <span id="backupStatus"></span>
                    </div>
                </div>
                <div class="action-container">
                    <div class="action-container-inner">
                        <div class="action-title">Restore</div>
                        <button class="button primary" id="restoreBtn">Restore<img
                                src="assets/icons/settings/restore.svg" alt=""></button>
                    </div>
                    <div class="action-container-inner">
                        Last Restore: <span id="lastRestoreDate"></span>
                        <span id="restoreStatus"></span>
                    </div>
                </div>
            </div>
            <div class="action-heading">Export & Import</div>
            <div class="actions">
                <div class="action-container">
                    <div class="action-container-inner">
                        <div class="action-title">Export</div>
                        <button class="button primary" id="exportCsvBtn">CSV<img src="assets/icons/settings/exportCsv.svg"
                                alt=""></button>
                        <button class="button primary" id="exportTsvBtn">TSV<img src="assets/icons/settings/exportTsv.svg"
                                alt=""></button>
                    </div>
                </div>
                <div class="action-container">
                    <div class="action-container-inner">
                        <div class="action-title">Import</div>
                        <input type="file" id="importFile" accept=".csv,.tsv">
                    </div>
                </div>
            </div>
            <div class="action-heading">Data Management</div>
            <div class="actions">
                <div class="action-container">
                    <div class="action-container-inner-column">
                        <div class="action-title">Clear Local Data</div>
                        <button class="button danger" id="clearDataBtn">Clear Data<img src="assets/icons/settings/delete.svg" alt=""></button>
                        <p class="warning-text">This will clear all local data. Make sure to backup first!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>